body {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1401px) {
  html {
    font-size: 18px;
  }
}
